[submodule ".registry"]
	path = .registry
	url = https://github.com/litportnet/litportnet.r-universe.dev
	branch = HEAD
[submodule "litportFreeProxy"]
	path = litportFreeProxy
	url = https://github.com/litportnet/free-proxy-sdk
	branch = main
	subdir = packages/r
